[defaults]
inventory = ./inventory
collections_path = ./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
timeout = 30
forks = 10
local_tmp = ./.ansible/tmp
remote_user = ansible

[inventory]
enable_plugins = yaml, script

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
